body {
  display: flex;
  flex-direction: column;
}

.header-box {
  display: flex;
}

.header-logo {
  margin-right: auto;
}

.header-logo img {
  height: 150px;
}

.header-links {
  display: flex;
}

.header-links ul {
  display: flex;
  align-items: center;
  gap: 50px;
}